@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: rgb(0, 0, 0);
  --background-start-rgb: rgb(173, 230, 234);
  --background-end-rgb: rgb(173, 230, 234);
  --svg-border-rgb: rgb(87, 171, 240);
  --default-theme-rgb: rgb(218, 170, 192);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: rgb(255, 255, 255);
    --background-start-rgb: rgb(173, 230, 234);
    --background-end-rgb: rgb(173, 230, 234);
  }
}

body {
  font-family: questa-slab, serif;
  font-style: normal;
  background: linear-gradient(to bottom, transparent, var(--background-end-rgb))
    var(--background-start-rgb);
}

.title-text {
  font-size: 48px;
  font-weight: 400;
  line-height: 60px;
  margin-bottom: 20px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.create-card-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.create-card-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(59, 59, 59);
  border-radius: 10px;
  padding: 15px;
  width: 90%;
  max-width: 600px;
}

.svg-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: scroll;
  background-color: var(--default-theme-rgb);
  height: 200px;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 10px;
}

.message-container {
  background-color: var(--default-theme-rgb);
  height: 200px;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 10px;
}

.selectable-svg {
  cursor: pointer;
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 5px;
  height: fit-content;
  max-width: 30%;
}

.selected-svg {
  border-radius: 10px;
  border-color: var(--svg-border-rgb);
  border-width: 2px;
  margin-left: 5px;
  margin-right: 5px;
  height: fit-content;
}

/* lets add on hover css*/
.selectable-svg:hover {
  border-color: var(--svg-border-rgb);
  border-width: 2px;
}

.create-button {
  padding: 15px 30px 15px 30px;
  gap: 14px;
  border-radius: 10px;
  border: 2px solid rgb(0, 0, 0);

}

.create-button:hover {
  padding: 16px 31px 16px 31px;
  background-color: #D081BE;
  color: white;
  border: 1px solid white;
}

.letter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#myCard {
  transition: transform 0.3s ease;
  
}

.flipped {
  transform: rotateY(180deg);
}
